body {
  
  display: flex;
  /* align-items: center; */
  height: 100%;
  /* width: 100vw; */
  flex-direction: column;
  /* padding: 1rem; */
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "MUJIFont-Light","Helvetica", "Lucida Grande", "Microsoft JhengHei", sans-serif;
}
// #small-red-line{
//   width:10px;
//   height:10px;
//   background-color: darkred;
// }
//加了這裡
.nav-expand {
  display: none;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  z-index: 1000;  
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
}

.cancel {
  display: block;
  text-align: right;
  padding: 12px 20px;
  content: url(https://www.muji.com/img/icon_close.png);
  margin-right: 5px;
  color: #fff;
}

.nav-expand li {
  padding: 12px 20px;
  color: #fff;
}
.nav-expand li a:hover{
  color:gray;
}
.nav-expand a {
  text-decoration: none;
  border: 0;
  display: block;
}
.change_slide_button{
  background-color: transparent;
  color:transparent;
  border-color: none;
  border-color: none;
}
 .full-screen{
   padding:0;
 }

 .move-down{
   margin-top:60px;
 }
 .move-right{
   float:right;
 }
//replace the button of the carousel


//==================================================
//-------------mobile menu icon----------------------
.topnav-button{
  position:relative;
}

.btn-mobile-nav{
border:none;
background:none;
cursor: pointer;
position:absolute;
right:20px;
top:20px;
display:none;
} 
.icon-mobile-nav{
  height:1rem;
  width:1rem;
  color:#333;
  
}

.icon-mobile-nav[name="close-outline"]{
  display:none;
  
}


// ---------------------------------------

.main {
  
  padding-left: 120px;
  padding-right: 120px;
}
.topnav-logo-box{
  width:100%;
}
.navbar {
  
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // font-size: 5vw;
  padding:0;
  margin-top:13px;
}
//---------------new nav bar-----------------
#close-icon{
  width:20px;
  height: 20px;
}
#new-uni-logo{
  width: 100px;
  height:20px;
}

.main-nav ul{
  flex-grow:1;
  display:flex;
  justify-content:left;
  padding:0;
  // margin-top:13px;
  // align-items:center;
  
}
.main-nav-list{
  list-style:none;
  display:flex;
  align-items: center;
  gap:1rem;
}
.main-nav-link:link, .main-nav-link:visited{
display:inline-block;
text-decoration: none;
color:#333;
// font-weight:500;
font-size:10px;
transition:all 0.3s;
}

.main-nav ul li{
  margin: 5px;

}
.header{
  display:flex;
  align-items: center;
  justify-content: center;
}


.main-nav{

  height: 100%;
  width: 100%;
  // display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  display:flex;

  justify-content: center;

  //hide navigation //
  //allow no transition
  // display:none;

  // 1)hide it visually
  opacity:0;
  // 2)make it unaccessible to mouse and keyboard
  pointer-events: none;
  // 3) hide it from screen readers
  visibility: hidden;
}
.nav-open, .main-nav{
  opacity:1;
  pointer-events:auto;
  visibility: visible;
}
.nav-open .icon-mobile-nav[name="close-outline"]{
  display:block;

}
.nav-open .icon-mobile-nav[name="menu-outline"]{
  display:none;
}

.main-nav-list{
  flex-direction: column;
  gap:0rem;
  margin-top:50px;
}

.main-nav-link:link, .main-nav-link:visited{
  font-size:20px;
  color:white;//color problem
}
.main-nav-link:hover{
  color:#888;
}
.white-color{
  color:white;
}
/**************************＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊/
/* NAVIGATION */
/**************************/

// .main-nav-list {
//   list-style: none;
//   display: flex;
//   align-items: center;
//   gap: 4.8rem;
// }

// .main-nav-link:link,
// .main-nav-link:visited {
//   display: inline-block;
//   text-decoration: none;
//   color: #333;
//   font-weight: 500;
//   font-size: 1.8rem;
//   transition: all 0.3s;
// }

// .main-nav-link:hover,
// .main-nav-link:active {
//   color: #cf711f;
// }

// .main-nav-link.nav-cta:link,
// .main-nav-link.nav-cta:visited {
//   padding: 1.2rem 2.4rem;
//   border-radius: 9px;
//   color: #fff;
//   background-color: #e67e22;
// }

// .main-nav-link.nav-cta:hover,
// .main-nav-link.nav-cta:active {
//   background-color: #cf711f;
// }

// /* MOBILE */
// .btn-mobile-nav {
//   border: none;
//   background: none;
//   cursor: pointer;

//   display: none;
// }

// .icon-mobile-nav {
//   height: 4.8rem;
//   width: 4.8rem;
//   color: #333;
// }

// .icon-mobile-nav[name="close-outline"] {
//   display: none;
// }



@media (max-width: 59em) {
  // html {
  //   /* 8px / 16px = 0.5 = 50% */
  //   font-size: 50%;
  // }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    // background-color: rgba(255, 255, 255, 0.97);
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100vh;
    // transform: translateX(100%);
    height: 100%;
    width: 100%;
    // display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    display:flex;
  
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 1rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1rem;
  }
}

//---------------------------------
//need to change the text color to white!--------

@media only screen and (max-width: 600px) {
  .main {
    font-size: 10vw;
    padding-left: 40px;
    padding-right: 40px;
  }

}
@media only screen and (max-width:1200px){
  // .container{
  //   max-width:900px;
  // }
}

.topnav {
  text-align: left;
}
#toggler-border-none{
  border-color:white;
}
.topnav a {
  text-decoration: none;
  color: darkgray;
  font-size: 10px;
}

.topnav-font-size{
  font-size: 13px;
}
#logo {
  width: 130px;
  height: 20.6px;
  // margin-right: 20px;
  // justify-content: center;
}
.mycontainer-fluid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.container-fluid{
  padding-left: 0px;
  padding-right:0px;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
  
}
#search-icon1{
  width:20px;
  height: 20px;
  margin-left:10px;
}
//carousel==========
.carousel-control-next, .carousel-control-prev{
  opacity: 0;
}
//search bar
.betransparent{
  background-color: transparent;
}


//=======================================
.second-bar {
  background-color: #dcdcdc;
  text-align: left;
  padding-left: 10px;
  display: inline-block;
  /* //didn't solve the problem */
  margin-bottom: 10px;
}
#reminder-left{
  padding-left:30px;
  color:darkred;
}
#warm-reminder{
  border-left:4px solid #7f0019;
  padding-left:5px;
  // line-height: 1;
  font-weight: 700;
  height: 17px;
}
.reminderbar-style{
  background-color: rgb(234, 236, 236); 
  // padding-right:500px;
  height:33px;
  color:gray;
  font-size: 14px;
  // align-items: center; not moving the items to the middle of the box!
  padding-top:5px;
  display: flex;
  padding-left:40px;
  
}
.second-bar-in {
  /* background-color: aqua; */
  /* width:300px; */
  height: 20px;
  font-size: 10px;
  color: gray;
  text-align: top;
}

.reminderbar{
  margin-bottom: 10px;
}
.style-reminder-bar{
  font-size: 10px;
}

/* 
// two rows of pictures */
.first {
  margin-top: 20px;
  align-items: center;
  display:block; 
  margin:auto;
  text-align : center;
}
.link-to-more-activity{
  margin-bottom:100px;
}
.picture-word{
  font-size: 15px;
			color: white;
			position:absolute;
      bottom:0px;
      padding-left:5px;
}

.first td img,
.second td img {
  /* padding: 5px; */
   padding-right: 1px; 
  
}

#see-more-activity{
  padding-left: 1000px;
}
/* //all h1 items */
h1 {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size:20px;
}

.no-color{
  color:gray;
}

/* //the one row items */
.recommendation {
  text-align: left;
}
.see-more{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.recommendation a img {
  padding: 5px;
}

/* //news */
.news {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}

.news a,
p {
  color: gray;
  text-decoration: none;
  
}
#map{
  width:100%;
  
}

/* //footer */
.foot2 { 
  background-color: black;
  color: white;
  /* margin: 0; */
  padding-bottom: 15px;
  /* width: 100%; */
  text-decoration: none;
  /* border-bottom: 3px white solid; */
  text-align: left;
  // padding-left: 105px;
}


.foot2 a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

@media screen and (max-width:1000px) { 
  // .footerpart li a{
  
  //   background-color: green;
  // }
  .footerpart li{
    width:40%;
  }

}

@media screen and (max-width:1200px){
  .topnav-font-size{
    font-size: 8px;
    align-items: center;
    
  }
  .topnav-font-size li{
    width:100%;
  }
}
.footerpart { /*改成這樣*/
  width: 1024px;
  border-top: 1px solid #888;
  padding: 15px;
  margin: 0;

}

.footerpart li {
  /*改成這樣*/
  display: inline-block;
  // inline sholud be used when you don't need to change the size of it
  // for example, span
  // if you want to modify the size of the part, you should use inline-block instead
  
}
.footerpart li a{
  margin-right:20px;
}
.upperfooter-gray{
  height: 50px;
  width:100%;
  background-color: rgb(221, 219, 219);

}

.topmargin{
  margin-top: 15px;
}
.section {
  margin-bottom: 15px;
}
.bottomnews{
  text-align: left;
  font-size: 15px;
  color:gray;
  text-decoration: none;
}
.style-news{
  color:black;
}

.gray-color{
  color:gray;
}


// -----------------------------------------------------
.search-box{
  width: fit-content;
  // height: fit-content;
  height:30px;
  position: relative;
  align-items: center;
}
.input-search{
  height: 30px;
  width: 40px;
  border-style: none;
  padding: 10px;
  font-size: 5px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 300ms ease-in-out;
  /* background-color: #22a6b3; */
  padding-right: 40px;
  color:black;
  padding-left:30px;
}
.input-search::placeholder{
  // color:rgba(255,255,255,.5);
  color:black;
  font-size: 9px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search, .btn-search-block{
  width: 40px;
  height: 30px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  /* padding: 5px 5px; */
     /* margin-right:auto; */
  position: absolute;
  right: 0px;
  color:gray ;
  background-color:transparent;
  pointer-events: painted;  
  margin:0px;
}
.btn-search:focus ~ .input-search{
  width: 200px;
  /* border-radius: 0px; */
  background-color: gainsboro;
  /* border-bottom:1px solid rgba(54, 53, 53, 0.5); */
  transition: all 500ms ease-in-out;
  /* transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
  /* border:2px rgb(100, 100, 100) solid; */
  border-radius:50px;
  height:30px;
  
}
// try to let the btn stay at left side
.input-search:focus ~ .btn-search{
  transform: translateX(-160px);
  background-color: red;
}
.input-search:focus{
  width: 200px;
  /* border-radius: 0px; */
  /* background-color: transparent; */
  background-color: gainsboro;
  /* border-bottom:1px solid rgba(49, 48, 48, 0.5); */
  /* transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
  /* border:2px rgb(100, 100, 100) solid; */
  border-radius:50px;
  height:30px;
}

/* 0221 */
.btn-search:focus{
  transform: translateX(-160px);
  transition: all 500ms ease-in-out;
}

// =======0223=================
// .search-box:focus ~ .input-search{
//   width:200px;
//   background-color: gainsboro;
//   transition: all 400ms ease-in-out;
//   border-radius: 50px;
//   height:30px;
// }
// .search-box ~ .input-search:focus ~ .btn-search{ 
//   transform: translateX(-160px);
//   transition: all 500ms ease-in-out;
// }
// .search-box:focus ~ .btn-search{
//   transform: translateX(-160px);
//   transition: all 500ms ease-in-out;
// }

#hSearch-input-new[type="search"]:focus {
  width: 240px;
  background-color: gainsboro;
  cursor: text;
}
#hSearch-input-new[type="search"] {
  width: 5px;
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 1001;
  border: 0;
  background: url('https://www.muji.com/img/icon_search_b.png')  no-repeat 10px center;
  background-size: 16px 17px;
  color: #000;
  padding: 3px 10px 3px 30px;
  margin: 0;
  box-sizing: border-box;
  line-height: 2;
  -webkit-transition: width .3s;
  transition: width .3s;
  cursor: pointer;
  outline: none;
  font-size: 12px;
}


// =================end of 2023
#hSearch-closebtn2{
  background-color: transparent;
  float:right;
  
}




// ==================change end 0223
// -------------full-screen search box--------================================

// change to another buttom when the screen size is small
// one button do one thing
@media screen and (max-width:1200px){
.cnotainer{
  max-width: 900px;
}
.btn-search{
  display: none;
}
#hSearch-input-new{
  display:none;
}
.input-search{
  display:none;
  width: 0px;
  /* border-radius: 0px; */
  /* background-color: transparent; */
  // background-color: gainsboro;
  /* border-bottom:1px solid rgba(49, 48, 48, 0.5); */
  /* transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
  /* border:2px rgb(100, 100, 100) solid; */
  // border-radius:50px;
  height:0px;


// #hSearch-input[type="text"]{
//   width:90%;
//   border:solid #ccc;
//   border-width:0 0 1px;
//   border-radius:0;
//   -webkit-appearance: none;
//   background:url('https://www.muji.com/img/icon_search_w.png') no-repeat left center;
//   background-size:20px 21px;
//   color:#fff;
//   min-height:28px;
//   font-size: 14px;
//   left:20px;
//   top:80px;
//   padding:3px 10px 3px 30px;
// }
}
#hSearch-input[type="text"]{
  width:90%;
  border:solid #ccc;
  border-width:0 0 1px;
  border-radius:0;
  -webkit-appearance: none;
  background:url('https://www.muji.com/img/icon_search_w.png') no-repeat left center;
  background-size:20px 21px;
  color:#fff;
 
  font-size: 14px;
  left:20px;
  top:0px;
  right:0;
  margin:0;
  box-sizing:border-box;
  padding:3px 10px 3px 30px;
  position:absolute;
  vertical-align: text-top;
  
  
}
.inputbox-new{
  width: 5px;
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1001;
  border: 0;
  background: url(https://www.muji.com/img/icon_search_b.png) no-repeat 10px center;
  background-size: 16px 17px;
  color: #000;
  padding: 3px 10px 3px 30px;
  margin: 0;
  box-sizing: border-box;
  line-height: 2;
  -webkit-transition: width .3s;
  transition: width .3s;
  cursor: pointer;
  outline: none;
  font-size: 12px;
}
#hSearchinput2[type="search"]:focus {
  width: 240px;
  background-color: #eee;
  cursor: text;
}
.overlay-content{
  top:150px;
}
.hSearch-form{
  position:relative;
}
#move_searchbox_up{
  position:absolute;
  top:150px;
}

// ------------------mobile menu--------------------------------------
.btn-mobile-nav{
  display:block;
}
}



@media screen and (min-width:1201px){
.btn-search-block{
  display:none;
}
}
* {
  box-sizing: border-box;
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  // top: 46%;
  // width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}